<!DOCTYPE html>
<html>
<head>
  <title>Karyalay</title>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- CSS Files -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />
  <!-- JS Files -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
