<!DOCTYPE html>
<html lang="en" ng-app="KaryalayApp" id="top">
<head>
  <title>Karyalay</title>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- CSS Files -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />
  <link href="bower_components/ui-select/dist/select.css" rel="stylesheet" />
  <!-- JS Files -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-flash-alert/dist/angular-flash.min.js"></script>
  <script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="bower_components/angular-underscore/angular-underscore.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/ui-select/dist/select.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap-dropdown/dist/bsDropdown.min.js"></script>
  <script type="text/javascript" src="bower_components/AngularDevise/lib/devise-min.js"></script>
  <script type="text/javascript" src="/karyalay/karyalay_create.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
